<section class="bg-secondary-subtle p-3 vh-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="py-2">
                    <h1 class="text-center">Find Your Next Dream Job</h1>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="jobLists$ | async as loadedJobList;">
            @if (loadedJobList.isLoading) {
            <div class="col-12">
                <div class="text-center">
                    <app-spinner />
                </div>
            </div>
            } @else if (loadedJobList.errorMsg) {
            <div class="col-12">
                <p class="text-center text-danger">{{loadedJobList.errorMsg}}</p>
            </div>
            } @else if (loadedJobList.jobs.length > 0) {
            @for (job of loadedJobList.jobs; track $index) {
            <app-job-list-card class="col-12 col-lg-4" [jobListData]="job" />
            }
            }
            <!-- @if(isLoading()) {
            <div class="text-center">
                <app-spinner />
            </div>
            }

            @if(errorCaught()) {
            <div class="text-center">
                <p>{{errorCaught()}}</p>
            </div>
            }

            @if(!isLoading() && !errorCaught()) {
            @for (job of loadedJobs; track $index) {
            <app-job-list-card class="col-12 col-lg-4" [jobListData]="job" />
            }
            } -->
        </div>
    </div>
</section>