<section class="py-3 min-vh-100">

    <div class="container">
        <div class="row pb-3">
            <div class="col-12">
                <a class="btn btn-primary" [routerLink]="['/companies/add']">Add Company</a>
            </div>
        </div>
        <div class="row" *ngIf="companies$ | async as loadedCompanies;">
            @if(loadedCompanies.isLoading) {
            <div class="col-12">
                <div class="text-center">
                    <app-spinner />
                </div>
            </div>
            } @else if (loadedCompanies.errorMsg) {
            <div class="col-12">
                <div class="text-center">
                    <p class="text-danger">{{loadedCompanies.errorMsg}}</p>
                </div>
            </div>
            } @else if (loadedCompanies.companies.length > 0) {
            @for (company of loadedCompanies.companies; track $index) {
            <app-company-list-card class="col-12 col-md-4" [companyList]="company" (companyDelete)="onDeleteChange()" />
            }
            }

            <!-- @if(isLoading()) {
            <div class="text-center">
                <app-spinner />
            </div>
            }

            @if(errorCaught()) {
            <div class="text-center">
                <p>{{errorCaught()}}</p>
            </div>
            }

            @if(!isLoading() && !errorCaught()) {
            @for (company of companies; track $index) {
            <app-company-list-card class="col-12 col-md-4" [companyList]="company" />
            }
            } -->


        </div>
    </div>
</section>