<a [routerLink]="['/job/'+ jobListData().id]" class="text-decoration-none text-reset">

    <div class="card mb-2">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-body-secondary">{{jobListData().position}}</h6>
            <h5 class="card-title">{{jobListData().title}}</h5>
            <p class="card-text">{{jobListData().job_type}} | ${{jobListData().salary}} |
                {{jobListData().location.state}} |
                {{jobListData().location.country}}</p>
            <p class="card-text">Posted: {{jobListData().created_at | date}}</p>
        </div>
    </div>
</a>